.custom-text-dark{
    color: #001403;
}

.custom-text-dark:hover{
    border: 1px solid blue;
}

#p1-custom{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0015em;
    color: #001403;


}

#p2-custom{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #000000;
}

#purposeDiv{
    background: #C9D7CB;
    opacity: 0.6; 
}

.text-center{
    color: green;
}

#footerbg{
    background-image: url('../image/footerImage.png');
}

#whyChooseUs{
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
    color: #000000;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

#custom-italics{
    font-style: italics;
    font-family: 'Roboto', sans-serif;
}