

.custom-text-dark{
    color: #001403;
}

.custom-text-dark:hover{
    border: 1px solid blue;
}

#p1-custom{
    font-style: normal;
    font-weight: 50;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.0015em;
    color: #001403;
}

#p2-custom{
    font-style: normal;
    font-weight: 40;
    font-size: 31px;
    line-height: 40px;
    color: #000000;
}


/* #purposeDiv{
    background: #C9D7CB;
    opacity: 0.6; 
} */

.text-center{
    color: green;
}

#footerbg{
    background-image: url('../image/footerImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#footerBg1{
    background-image: url('../image/holding voters card 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#footerBg2{
    background-image: url('../image/voters card1-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#footerBg3{
    background-image: url('../image/vote2-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#SMI{
    height: 40px;
}

#WCUI{
    height: 200px;
}

#whyChooseUs{
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
    color: #000000;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

#custom-italics{
    font-style: italics;
    font-family: 'Roboto', sans-serif;
}

#voteForYour{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 162.69%;   
    text-align: justify;
    color: #000000;
}